@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Thin.otf");
  src: url("../fonts/Proxima Nova Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova Thin.woff2") format("woff2"), url("../fonts/Proxima Nova Thin.woff") format("woff"), url("../fonts/Proxima Nova Thin.ttf") format("truetype"), url("../fonts/Proxima Nova Thin.svg?#Proxima Nova Thin") format("svg"); }

@font-face {
  font-family: "ProximaNovaBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Semibold.otf");
  src: url("../fonts/Proxima Nova Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova Semibold.woff2") format("woff2"), url("../fonts/Proxima Nova Semibold.woff") format("woff"), url("../fonts/Proxima Nova Semibold.ttf") format("truetype"), url("../fonts/Proxima Nova Semibold.svg?#Proxima Nova Semibold") format("svg"); }

.input-wrap label, .input-wrap .input-text, .person__mail, .nav-bottom > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.container--inline {
  font-size: 0; }
  .container--inline > * {
    display: inline-block;
    font-size: 1rem; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 13px; } }

* {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'ProximaNova', 'Helvetica', sans-serif;
  background-color: #0A0E21;
  color: #fff; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  display: inline-block; }

a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s; }
  a:hover {
    color: #E4B523; }

h1, h2, h3, h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0; }

p {
  margin: 0; }

.btn {
  border: 2px solid #E4B523;
  border-radius: 2rem;
  color: #E4B523;
  font-size: 1rem;
  font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
  padding: .625rem .5rem;
  text-transform: none;
  max-width: 12rem;
  width: 100%;
  text-align: center; }
  .btn:hover {
    border-color: #fff;
    color: #fff; }

.btn--top {
  color: #fff;
  border-color: #fff;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  margin-left: 8%; }
  .btn--top:hover {
    border-color: #E4B523;
    color: #E4B523; }
  @media only screen and (max-width: 1200px) {
    .btn--top {
      font-size: .8rem;
      padding-left: .8rem;
      padding-right: .8rem;
      margin-left: 3%; } }

.gold-text {
  color: #E4B523; }

.big-text {
  display: block;
  font-size: 140%; }

.bold-text {
  font-family: 'ProximaNovaBold', 'Helvetica', sans-serif; }

.nav-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 82rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  height: 0;
  position: relative;
  z-index: 10; }

.nav-top__list {
  width: 45%;
  white-space: nowrap; }
  @media only screen and (max-width: 600px) {
    .nav-top__list {
      text-align: right;
      width: 39%;
      vertical-align: top;
      padding-top: 1rem; } }
  .nav-top__list:first-child {
    padding-left: 3%; }
    @media only screen and (max-width: 1200px) {
      .nav-top__list:first-child {
        padding-left: .5%; } }
    @media only screen and (max-width: 600px) {
      .nav-top__list:first-child {
        text-align: left; } }
  .nav-top__list li {
    padding: 0 2.5%; }
    @media only screen and (max-width: 1200px) {
      .nav-top__list li {
        padding: 0 .5%; } }
    @media only screen and (max-width: 600px) {
      .nav-top__list li {
        display: block; } }

.nav-top__link {
  font-size: .875rem;
  padding: 1rem 10%;
  white-space: nowrap; }
  @media only screen and (max-width: 992px) {
    .nav-top__link {
      padding: 1rem 5%; } }
  @media only screen and (max-width: 600px) {
    .nav-top__link {
      padding: 1rem 0; } }

.nav-top__logo {
  display: inline-block;
  padding: 3.8rem 0;
  width: 10%; }
  @media only screen and (max-width: 600px) {
    .nav-top__logo {
      width: 16%;
      vertical-align: top;
      padding-top: 2rem; } }
  .nav-top__logo img {
    width: 100%;
    max-width: 8rem; }

.header {
  text-align: center;
  padding-bottom: 6rem;
  padding-top: 4rem;
  background: url(../img/header_bg.jpg) no-repeat center 0;
  background-size: 100% auto;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .header {
      background-size: auto 60%; } }

.header__dots {
  position: absolute;
  right: 1%;
  top: 22%; }
  @media only screen and (max-width: 992px) {
    .header__dots {
      display: none; } }
  .header__dots li {
    display: block;
    height: .7rem;
    width: .7rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin: .6rem; }
    .header__dots li.active {
      background-color: rgba(255, 255, 255, 0.6); }

.promo {
  margin-left: auto;
  margin-right: auto;
  max-width: 56.25rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7.75rem;
  padding-top: 16.75rem; }

.promo__title {
  font-size: 3.75rem;
  letter-spacing: .05em;
  padding-bottom: 1rem; }
  @media only screen and (max-width: 600px) {
    .promo__title {
      font-size: 2.5rem; } }

.promo__subtitle {
  font-size: 1.5rem;
  letter-spacing: .05em; }

.promo__down-btn {
  position: relative; }
  .promo__down-btn:after {
    bottom: -5rem;
    content: '';
    font-size: 3rem;
    position: absolute;
    left: -1.625rem;
    width: 3.25rem;
    height: 3.25rem;
    background: url(../img/angle_down_white.png) no-repeat center/contain; }

.timer {
  font-size: 2.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 18em;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.05);
  height: 4em;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .timer {
      font-size: 1.2em; } }

.timer__label {
  border: 0.1em solid #E4B523;
  border-radius: .1em;
  font-size: 1em;
  font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
  height: 4em;
  line-height: 1;
  padding: .3em 0;
  position: absolute;
  text-transform: uppercase;
  width: 4.9em; }

.timer__label__big {
  font-size: 1.94em;
  letter-spacing: .02em; }

.timer__main {
  font-size: 1.8em;
  line-height: 2.2em;
  letter-spacing: .02em;
  padding-left: 2.7em;
  word-spacing: -0.1em;
  white-space: nowrap; }

.steps {
  margin-left: auto;
  margin-right: auto;
  max-width: 110rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15.5%;
  position: relative; }
  .steps:before {
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    position: absolute;
    left: 50%;
    top: 4rem;
    margin-left: -2px;
    height: 26%;
    width: 2px; }
    @media only screen and (max-width: 1200px) {
      .steps:before {
        display: none; } }

.step {
  padding: 1rem 0 1.5rem;
  position: relative;
  vertical-align: top;
  width: 33%; }
  @media only screen and (max-width: 600px) {
    .step {
      display: block;
      width: 100%; } }
  .step:before, .step:after {
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    position: absolute;
    top: 3.5rem;
    height: 2px;
    width: 30%; }
  .step:before {
    left: 5%; }
  .step:after {
    right: 5%; }
  .step:first-child:before, .step:last-child:after {
    display: none; }
    @media only screen and (max-width: 600px) {
      .step:first-child:before, .step:last-child:after {
        display: block; } }

.step__number {
  background: url(../img/hexagon_white.png) no-repeat center/contain;
  color: #0A0E21;
  font-weight: bold;
  font-size: 2.2rem;
  display: inline-block;
  margin-bottom: 2.25rem;
  width: 5.2rem;
  height: 5.2rem;
  line-height: 5.2rem; }

.step__title {
  color: #E4B523;
  display: inline-block;
  font-size: 1.7rem;
  letter-spacing: .05em;
  position: relative;
  text-transform: none; }
  .step__title:before {
    content: '';
    left: -34%;
    top: -.5rem;
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    background: url(../img/checkmark.png) no-repeat center/contain; }

.step__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem; }

.sign-up {
  background-color: #fff;
  padding: 6rem 15px 8rem;
  text-align: center; }

.sign-up__title {
  color: #E4B523;
  font-size: 3.4375rem;
  letter-spacing: .05em;
  padding-bottom: 2.5rem; }

.form-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 73rem;
  padding-left: 0;
  padding-right: 0; }

.input-wrap {
  border-color: #444;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-right-width: 0;
  border-left-width: 1px;
  padding: 1.2rem 0 .5rem 3%;
  height: 4.125rem;
  font-size: 1.33rem;
  white-space: nowrap;
  vertical-align: top;
  text-align: left;
  overflow: hidden; }
  .input-wrap label {
    color: #444;
    display: inline-block;
    margin-right: -.375rem;
    vertical-align: text-bottom; }
  .input-wrap .input-text {
    border: none;
    width: 70%;
    display: inline-block;
    padding-left: 1rem;
    color: #E4B523;
    outline: none; }
    .input-wrap .input-text::-webkit-input-placeholder {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      opacity: 1; }
    .input-wrap .input-text:-moz-placeholder {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      opacity: 1; }
    .input-wrap .input-text::-moz-placeholder {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      opacity: 1; }
  .input-wrap:nth-child(1) {
    border-radius: 2rem 0 0 2rem;
    border-left-width: 2px;
    width: 24%; }
    @media only screen and (max-width: 600px) {
      .input-wrap:nth-child(1) {
        display: block;
        width: 100%;
        border: none; } }
  .input-wrap:nth-child(2) {
    width: 33%; }
    @media only screen and (max-width: 600px) {
      .input-wrap:nth-child(2) {
        display: block;
        width: 100%;
        border: none; } }
  .input-wrap:nth-child(3) {
    width: 23%; }
    @media only screen and (max-width: 600px) {
      .input-wrap:nth-child(3) {
        display: block;
        width: 100%;
        border: none; } }
  .input-wrap.input-submit {
    color: #fff;
    font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
    background-color: #444;
    border: 2px solid #444;
    border-radius: 0 2rem 2rem 0;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding-right: 2%;
    transition: 0.2s;
    width: 19%;
    text-align: center;
    padding-top: .8rem; }
    @media only screen and (max-width: 600px) {
      .input-wrap.input-submit {
        display: block;
        width: 100%;
        border-radius: 2rem;
        margin-top: 2rem; } }
    .input-wrap.input-submit:hover {
      background-color: #E4B523;
      border-color: #E4B523; }

.token {
  text-align: center;
  padding: 7.5rem 0 65px;
  position: relative; }
  .token:before, .token:after {
    content: '';
    position: absolute;
    background-size: 2.95rem 100%;
    left: 0;
    right: 0;
    height: 3rem; }
  .token:before {
    background-image: linear-gradient(40deg, #0A0E21 50%, transparent 50%, transparent 100%), linear-gradient(140deg, transparent 50%, #0A0E21 50%, #0A0E21 100%);
    top: -2rem; }
  .token:after {
    background-image: linear-gradient(140deg, #0A0E21 50%, transparent 50%, transparent 100%), linear-gradient(40deg, transparent 50%, #0A0E21 50%, #0A0E21 100%);
    bottom: -2rem; }

.token-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 15px;
  padding-right: 15px; }

.token__title {
  font-size: 5rem;
  letter-spacing: .05em; }
  @media only screen and (max-width: 600px) {
    .token__title {
      font-size: 4rem; } }

.token__subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1.5rem 0 5.5rem; }

.gold-bar {
  width: 36%;
  padding: 0 3rem; }
  .gold-bar img {
    width: 100%;
    max-width: 16rem; }
  @media only screen and (max-width: 600px) {
    .gold-bar {
      display: none; } }

.dates-left {
  padding-right: 9%;
  text-align: right;
  width: 32%;
  vertical-align: top; }
  @media only screen and (max-width: 600px) {
    .dates-left {
      display: block;
      width: 88%; } }

.dates-right {
  padding-left: 9%;
  text-align: left;
  width: 32%;
  vertical-align: top; }
  @media only screen and (max-width: 600px) {
    .dates-right {
      display: block;
      width: 88%;
      margin-left: 12%; } }

.date {
  padding-bottom: 29%;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .date {
      padding-bottom: 2rem; } }
  .date:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 90%;
    background-color: #b6c6c9;
    top: 3.5rem; }
    .dates-left .date:before {
      right: -3.6rem; }
    .dates-right .date:before {
      left: -3.6rem; }
  .date:last-child:before {
    height: 0; }
  .date:after {
    position: absolute;
    content: '';
    width: 3.4rem;
    height: 3.4rem;
    top: .2rem;
    background: transparent url(../img/hexagon_gray.png) no-repeat center/contain; }
    .dates-left .date:after {
      right: -5.2rem; }
    .dates-right .date:after {
      left: -5.2rem; }

.date__title {
  color: #E4B523;
  font-size: 1.5rem;
  letter-spacing: .08em;
  padding: 1rem 0; }

.date__text {
  font-size: 1rem;
  line-height: 1.6; }

.chart {
  background-color: #fff;
  padding-bottom: 11.5rem;
  padding-top: 12.5rem; }

.chart-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  padding-left: 0;
  padding-right: 0; }

.donut-chart {
  float: right;
  vertical-align: top;
  width: 50%;
  position: relative;
  padding: 7.5% 9%;
  text-align: center; }
  .donut-chart img {
    width: 100%;
    max-width: 25rem; }
  @media only screen and (max-width: 600px) {
    .donut-chart {
      display: block;
      width: 100%; } }

.donut-chart__text {
  text-transform: uppercase;
  position: absolute;
  left: 30%;
  top: 40%;
  color: #0A0E21;
  font-size: 1.75rem;
  line-height: 1.5;
  width: 40%; }
  .donut-chart__text .big-text {
    font-size: 180%;
    line-height: 1.2; }
  @media only screen and (max-width: 992px) {
    .donut-chart__text {
      font-size: 1.4rem;
      top: 35%; } }
  @media only screen and (max-width: 600px) {
    .donut-chart__text {
      font-size: 1.75rem;
      top: 40%; } }
  @media only screen and (max-width: 480px) {
    .donut-chart__text {
      font-size: 1.5rem;
      top: 35%; } }

.numbers-text {
  float: right;
  width: 50%;
  padding: 0 15px; }
  @media only screen and (max-width: 600px) {
    .numbers-text {
      display: block;
      width: 100%; } }

.numbers__title {
  font-size: 2.25rem;
  line-height: 1.3;
  color: #0A0E21; }

.numbers__desc {
  color: #5f727f;
  font-size: 1rem;
  line-height: 1.5;
  padding: 3rem 0 1.5rem; }

.chart-legend {
  color: #5f727f; }

.chart-legend__item {
  display: block;
  margin: 1.2rem 0 1.2rem 2.3rem;
  position: relative;
  font-size: 1.4rem; }
  .chart-legend__item:before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: #E4B523;
    left: -2rem;
    top: .5rem; }
  .chart-legend__item:nth-child(1):before {
    background-color: #C49D40; }
  .chart-legend__item:nth-child(2):before {
    background-color: #9D6C20; }
  .chart-legend__item:nth-child(3):before {
    background-color: #DEBE62; }
  .chart-legend__item:nth-child(4):before {
    background-color: #E4B523; }
  .chart-legend__item:nth-child(5):before {
    background-color: #9D7B10; }

.about {
  background-repeat: no-repeat;
  background-image: url(../img/hexagon_bg.png), url(../img/triangles_bg_1.png), url(../img/triangles_bg_2.png);
  background-position: 0 3rem, 38% 10rem, 72% 7rem;
  background-size: 45%, 10%, 10%;
  padding-bottom: 12.5rem;
  padding-top: 12rem;
  position: relative; }
  .about:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(140deg, #0A0E21 50%, transparent 50%, transparent 100%), linear-gradient(40deg, transparent 50%, #0A0E21 50%, #0A0E21 100%);
    background-size: 2.95rem 100%;
    bottom: -2rem;
    left: 0;
    right: 0;
    height: 3rem; }

.about-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 67rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 5.5%; }

.about__title {
  font-size: 2.75rem;
  letter-spacing: .05em;
  position: relative; }
  .about__title:before {
    content: '';
    position: absolute;
    left: -16%;
    top: 1.5rem;
    width: 14.5%;
    height: 2px;
    background-color: #b6c6c9; }

.about__text {
  font-size: 1rem;
  line-height: 1.5;
  columns: 20rem 2;
  column-gap: 3rem;
  padding: 2rem 0 6rem;
  transform: translateZ(0); }

.about__list {
  margin-left: auto;
  margin-right: auto;
  max-width: 62rem;
  padding-left: 15px;
  padding-right: 15px; }

.about__item {
  font-size: 3.125rem;
  padding-top: 21%;
  text-align: center;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 70%; }
  @media only screen and (max-width: 480px) {
    .about__item {
      width: 50%;
      padding-top: 40%;
      padding-bottom: 4rem; } }
  .about__item--invested {
    background-image: url("../img/invested.png"); }
  .about__item--members {
    background-image: url("../img/members.png"); }
  .about__item--backers {
    background-image: url("../img/backers.png"); }
  .about__item--countries {
    background-image: url("../img/countries.png"); }
  .about__item small {
    font-size: 1.5rem;
    line-height: 1.5;
    display: block; }

.people {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18%; }

.people__title {
  font-size: 3.125rem;
  padding-bottom: 3.5rem;
  letter-spacing: .05em; }
  @media only screen and (max-width: 992px) {
    .people__title {
      padding-right: 6.5rem; } }

.people-slider {
  margin: 0 -1.5%;
  position: relative; }
  .people-slider:before, .people-slider:after {
    position: absolute;
    content: '';
    height: 2.75rem;
    width: 2.75rem;
    top: -6.5rem;
    cursor: pointer; }
  .people-slider:before {
    background: url(../img/angle_left_white.png) no-repeat center/contain;
    right: 4.5rem; }
  .people-slider:after {
    background: url(../img/angle_right_white.png) no-repeat center/contain;
    right: 1rem; }

.person {
  text-align: center;
  width: 30%;
  margin: 0 1.5%;
  padding: 3.5rem 15px 2.5rem;
  background-color: #212435; }
  .person img {
    max-width: 15rem;
    width: 100%; }
  @media only screen and (max-width: 600px) {
    .person {
      width: 47%; }
      .person:nth-child(2) ~ * {
        display: none; } }
  @media only screen and (max-width: 480px) {
    .person {
      width: 97%; }
      .person:nth-child(1) ~ * {
        display: none; } }

.person__name {
  font-size: 1.5rem;
  padding: 3.5rem 0 .8rem; }

.person__position {
  font-size: 1rem; }

.person__tel {
  font-size: 1.1875rem;
  padding: 2rem 0 .8rem; }

.person__mail {
  font-size: 1rem;
  padding-left: 1.5rem;
  position: relative;
  display: inline-block; }
  .person__mail:before {
    content: '';
    position: absolute;
    top: .2rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: url(../img/envelope.png) no-repeat center/contain; }

.person__links {
  padding-top: 2.5rem; }
  .person__links a {
    background-image: url(../img/social_sprite.png);
    background-repeat: no-repeat;
    width: 2.75rem;
    height: 2.75rem; }
    .person__links a.facebook {
      background-position-x: 0; }
    .person__links a.twitter {
      background-position-x: -50px; }
    .person__links a.linkedin {
      background-position-x: -100px; }
    .person__links a.instagram {
      background-position-x: -150px; }

.footer {
  background-color: #212435;
  padding-bottom: 4rem;
  padding-top: 9rem; }

.organizations-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative; }
  .organizations-wrap:before, .organizations-wrap:after {
    position: absolute;
    content: '';
    height: 3rem;
    width: 3rem;
    top: 20%;
    cursor: pointer; }
  .organizations-wrap:before {
    background: url(../img/angle_left_gold.png) no-repeat center/contain;
    left: .2rem; }
  .organizations-wrap:after {
    background: url(../img/angle_right_gold.png) no-repeat center/contain;
    right: .2rem; }

.organizations-slider {
  padding-bottom: 6.5rem;
  position: relative;
  text-align: center; }
  .organizations-slider:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #0A0E21 90%, transparent 90%, transparent 100%);
    background-size: 10.2% 100%; }
    @media only screen and (max-width: 480px) {
      .organizations-slider:after {
        display: none; } }

.organization {
  width: 25%; }
  .organization img {
    max-width: 12rem;
    width: 100%; }
  @media only screen and (max-width: 1200px) {
    .organization {
      padding: 1rem 1rem 0; } }
  @media only screen and (max-width: 600px) {
    .organization {
      width: 50%; }
      .organization:nth-child(2) ~ * {
        display: none; } }

.footer-middle {
  margin-left: auto;
  margin-right: auto;
  max-width: 82rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10%; }

.footer__logo {
  vertical-align: top;
  width: 36%;
  padding: 3rem 6%; }
  .footer__logo img {
    width: 100%;
    max-width: 12.5rem; }

.nav-bottom {
  width: 40%;
  vertical-align: top;
  columns: 6.25rem 2;
  column-gap: 3.75rem;
  transform: translateZ(0);
  margin-right: 8%;
  padding-bottom: 4rem; }
  .nav-bottom > * {
    display: block; }

.nav-bottom__link {
  font-size: .875rem;
  padding: .5rem; }

.copyright {
  text-align: center;
  padding: 35px 15px 2%;
  font-size: .75rem;
  letter-spacing: .25em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2); }
