$black: #000;
$lightGray: #F9F9F9;
// https://htmlacademy.ru/courses/53/run/4
$red: #E74C3C;
$green: #2CC36C;
$blue: #3498DB;
$orange: #E67E22;

$itemHeight: 12vh;
$iconSize: 2.5rem;

// midas colors

$white: #fff;
$gold: #E4B523;
$dark-blue: #0A0E21;
$blue-gray: #212435;
$dark-gray: #444;
$middle-gray: #5f727f;
$light-gray: #b6c6c9;

// misc
$tile-gutter: 15px;
$container-width: 950px;
$animation-time: .2s;

// fonts

@font-face {
	font-family: ProximaNova;
	src: url('../fonts/Proxima Nova Thin.ttf');
}

@font-face {
	font-family: ProximaNovaBold;
	src: url('../fonts/Proxima Nova Semibold.ttf');
}


// adjustments

html {
	font-size: 16px;

	@media (max-width: 768px) {
		font-size: 14px;
	}

	// pixel perfect
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: url(../img/pixelperfect_midas.jpg) no-repeat 0 0/contain;
		width: 1920px;
		height: 7317px;
		opacity: .2;
		pointer-events: none;
		display: none; // temp
	}
}

body {
	font-family: 'ProximaNova', 'Helvetica', sans-serif;
	background-color: $dark-blue;
	color: $white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

a {
	color: $white;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	transition: $animation-time;

	&:hover {
		color: $gold;
	}
}

h1, h2, h3, h4 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}


// helpers

@mixin container($max-width: $container-width, $padding-sides: $tile-gutter) {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
	padding-left: $padding-sides;
	padding-right: $padding-sides;

	//@include breakpoint($bp-tablet) {
	//	padding-left: $padding-sides*2;
	//	padding-right: $padding-sides*2;
	//}
}

.container {
	@include container();
}

.container--inline {
	font-size: 0;

	& > * {
		display: inline-block;
		font-size: 1rem;
	}
}

//.container--flex {
//	display: flex;
//	align-items: center;
//}

.btn {
	border: 2px solid $gold;
	border-radius: 120px;
	color: $gold;
	font-size: 1rem;
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
	padding: .625rem 3rem;
	text-transform: none;

	&:hover {
		border-color: $white;
		color: $white;
	}
}

.btn--white {
	color: $white;
	border-color: $white;

	&:hover {
		border-color: $gold;
		color: $gold;
	}
}

.gold-text {
	color: $gold;
}

.big-text {
	display: block;
	font-size: 137%;
}

%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


// navigation

.nav-top {
	text-align: center;
	height: 0;
}

.nav-top__list {
	width: 40%;

	&:last-child > *:last-child {
		margin-right: -15%;
		position: relative;
		right: -5%;
	}
}

.nav-top__link {
	font-size: .875rem;
	padding: 5px;
}

.logo {
	display: inline-block;
	padding: $tile-gutter;
	max-width: 130px - $tile-gutter/2;
	width: 20%;

	img {
		width: 100%;
		height: auto;
	}
}


// header

.header {
	text-align: center;
	padding-bottom: 2rem;
	padding-top: 4rem;
	background: url(../img/header_bg.jpg) no-repeat center/cover;
}

.promo {
	@include container(810px);
	padding-bottom: 8.75rem;
	padding-top: 8.75rem;
}

.promo__title {
	font-size: 3.75rem;
}

.promo__subtitle {
	font-size: 1.5rem;
}

.promo__down-btn {
	position: relative;

	&:after {
		bottom: -80px;
		content: '';
		font-size: 3rem;
		position: absolute;
		left: -25px;
		width: 50px;
		height: 50px;
		background: url(../img/angle_down_white.png) no-repeat center/contain;
	}
}

.timer {
	@include container(640px, 0);
	background-color: rgba($white, .05);
	height: 8.75rem;
	position: relative;
}

.timer__text {
	border: 4px solid $gold;
	border-radius: 4px;
	font-size: 2.375rem;
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
	height: 8.75rem;
	line-height: 1;
	padding: .625rem 0;
	position: absolute;
	text-transform: uppercase;
	width: 10.5rem;
}

.timer__text__big {
	font-size: 1.94em;
	letter-spacing: .02em;
}

.timer__main {
	font-size: 3.5rem;
	line-height: 8.75rem;
	padding-left: 10.5rem;
	white-space: nowrap;
}

.steps {
	@include container(1270px, 0);
	padding-bottom: 2rem;
	padding-top: 15rem;
	position: relative;

	&:before {
		background-color: rgba($white, .2);
		content: '';
		position: absolute;
		left: 50%;
		top: 2rem;
		margin-left: -2px;
		height: 10rem;
		width: 2px;
	}
}

.step {
	padding: 10px $tile-gutter;
	position: relative;
	vertical-align: top;
	width: 33%;

	&:before,
	&:after {
		background-color: rgba($white, .2);
		content: '';
		position: absolute;
		top: 2rem;
		height: 2px;
		width: 30%;
	}

	&:before {
		left: 5%;
	}

	&:after {
		right: 5%;
	}

	&:first-child:before,
	&:last-child:after {
		width: 0;
	}
}

.step__number {
	background: url(../img/hexagon_white.png) no-repeat center/contain;
	color: $dark-blue;
	font-weight: bold;
	font-size: 1.2rem;
	display: inline-block;
	margin-bottom: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.step__title {
	color: $gold;
	display: inline-block;
	padding-left: 30px;
	position: relative;
	text-transform: none;

	&:before {
		content: '';
		left: 0;
		position: absolute;
		width: 20px;
		height: 20px;
		background: url(../img/checkmark.png) no-repeat center/contain;
	}
}

.step__text {
	line-height: 1.5;
}


// sign up

.sign-up {
	background-color: $white;
	padding: 6rem $tile-gutter;
	text-align: center;
}

.sign-up__title {
	color: $gold;
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
	font-size: 3.4375rem;
	letter-spacing: .07em;
	padding-bottom: 10px;
}

.form-container {
	@include container(1200px, 0);
}

.input-wrap {
	border-color: $dark-gray;
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 0;
	border-left-width: 1px;
	padding: 18px 0 18px 2%;
	width: 25%;
	height: 66px;
	font-size: 1.33rem;
	white-space: nowrap;
	vertical-align: top;
	
	label {
		@extend %ellipsis;
		color: $dark-gray;
		display: inline-block;
		margin-right: -6px;
		vertical-align: text-bottom;
	}

	&:first-child {
		border-radius: 30px 0 0 30px;
		border-left-width: 2px;
	}
}

.input-text {
	@extend %ellipsis;
	border: none;
	width: 70%;
	display: inline-block;
	padding-left: 6px;
	color: $gold;
	outline: none;
}

.input-submit {
	color: $white;
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
	background-color: $dark-gray;
	border: 2px solid $dark-gray;
	border-radius: 0 30px 30px 0;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	padding-right: 2%;
	transition: $animation-time;

	&:hover {
		background-color: $gold;
		border-color: $gold;
	}
}


// token roadmap

.token {
	text-align: center;
	padding: 5rem 0;
}

.token__title {
	font-size: 5rem;
}

.token__subtitle {
	font-size: 1.5rem;
}

.gold-bar {
	width: 30%;
	padding: 10px 2%;
}

.dates-left {
	padding-right: 70px;
	text-align: right;
	width: 35%;
	vertical-align: top;
}

.dates-right {
	padding-left: 70px;
	text-align: left;
	width: 35%;
	vertical-align: top;
}

.date {
	min-height: 20%;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		width: 40px;
		height: 40px;
		top: -7px;
		background: transparent url(../img/hexagon_gray.png) no-repeat center/contain;

		.dates-left & {
			right: -60px;
		}

		.dates-right & {
			left: -60px;
		}
	}

	&:before {
		position: absolute;
		content: '';
		width: 3px;
		height: 100%;
		background-color: $light-gray;
		top: 10%;

		.dates-left & {
			right: -42px;
		}

		.dates-right & {
			left: -42px;
		}
	}

	&:last-child:before {
		bottom: 90%;
		top: auto;
	}
}

.date__title {
	color: $gold;
	font-size: 1.5rem;
}

.date__text {
	font-size: 1rem;
	line-height: 1.6;
}

// chart

.numbers {
	background-color: $white;
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.donut-chart {
	vertical-align: top;
	width: 40%;
	position: relative;
	margin-right: 10%;

	img {
		width: 100%;
	}
}

.donut-chart__text {
	text-transform: uppercase;
	position: absolute;
	left: 25%;
	top: 35%;
	color: $dark-blue;
	font-size: 1.75rem;
	text-align: center;
	width: 50%;

	&.big-text {
		font-size: 1.8em;
	}
}

.numbers-text {
	width: 50%;
}

.numbers__title  {
	font-size: 2.25rem;
	color: $dark-blue;
}

.numbers__desc {
	color: $middle-gray;
	font-size: 1rem;
	line-height: 1.56;
}

.chart-legend {
	color: $middle-gray;
}

.chart-legend__item {
	display: block;
	margin: .5rem 0 .5rem 20px;
	position: relative;
	font-size: 1.5rem;

	&:before {
		content: '';
		width: 16px;
		height: 16px;
		position: absolute;
		background-color: $gold;
		left: -20px;
		top: 0;
	}

	&:nth-child(1):before {
		background-color: #C49D40;
	}

	&:nth-child(2):before {
		background-color: #9D6C20;
	}

	&:nth-child(3):before {
		background-color: #DEBE62;
	}

	&:nth-child(4):before {
		background-color: $gold;
	}

	&:nth-child(5):before {
		background-color: #9D7B10;
	}
}


// about

.about {
	padding-bottom: 10rem;
	padding-top: 8rem;
	background-repeat: no-repeat;
	background-image:
		url(../img/hexagon_bg.png),
		url(../img/triangles_bg_1.png),
		url(../img/triangles_bg_2.png);
	background-position:
		0 60px,
		30% 160px,
		90% 60px;
	background-size:
		40%,
		10%,
		10%;
	position: relative;

	&:after {
		content: '';
		background: url(../img/border_angled.png) no-repeat center -20%/cover;
		position: absolute;
		height: 50px;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.about__title {
	font-size: 2.75rem;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: -90px;
		top: 1.5rem;
		width: 80px;
		height: 2px;
		background-color: $light-gray;
	}
}

.about__text {
	font-size: 1rem;
	line-height: 1.5;
	columns: 320px 2;
	column-gap: 60px;
	padding: 10px 0;
	transform: translateZ(0);
}

.about__item {
	font-size: 3.125rem;
	padding-top: 25%;
	text-align: center;
	width: 25%;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 80%;

	@each $item in invested, members, backers, countries {
		&--#{$item} {
			background-image: url('../img/#{$item}.png');
		}
	}

	small {
		font-size: 1.5rem;
		display: block;
	}
}

.people {
	padding-top: 10rem;
}

.people__title {
	font-size: 3.125rem;
	padding-bottom: 20px;
}

.person {
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px $tile-gutter;
	background-color: $blue-gray;

	img {
		width: 80%;
	}
}

.people-slider {
	position: relative;

	&:before,
	&:after {
		position: absolute;
		content: '';
		height: 50px;
		width: 30px;
		background: url(../img/angle_down_white.png) no-repeat center/contain;
		top: -75px;
		cursor: pointer;
	}

	&:before {
		right: 55px;
		transform: rotate(90deg);
	}

	&:after {
		right: 20px;
		transform: rotate(-90deg);
	}
}
.person__name {
	font-size: 1.5rem;
	padding: 30px 0 5px;
}

.person__position {
	font-size: 1rem;
}

.person__tel {
	font-size: 1.1875rem;
	padding: 25px 0 8px;
}

.person__links{
	padding-top: 20px;

	a {
		background-image: url(../img/social_sprite.png);
		background-repeat: no-repeat;
		display: inline-block; // flex fallback
		width: 50px;
		height: 50px;

		&.facebook {
			background-position-x: 0;
		}

		&.twitter {
			background-position-x: -50px;
		}

		&.linkedin {
			background-position-x: -100px;
		}

		&.instagram {
			background-position-x: -150px;
		}
	}
}

.person__mail {
	@extend %ellipsis;
	font-size: 1rem;
	padding-left: 24px;
	position: relative;
	display: inline-block;

	&:before {
		content: '';
		position: absolute;
		top: 3px;
		left: 0;
		width: 15px;
		height: 15px;
		background: url(../img/envelope.png) no-repeat center/contain;
	}
}

// footer

.footer {
	background-color: $blue-gray;
	padding-bottom: 1rem;
	padding-top: 3rem;
}

.organizations-slider {
	@include container(1200px, 50px);
	padding-bottom: 5rem;
	padding-top: 5rem;
	margin-bottom: 2rem;
	position: relative;
	text-align: center;

	&:before,
	&:after {
		position: absolute;
		content: '';
		height: 50px;
		width: 30px;
		background: url(../img/angle_right_gold.png) no-repeat center/contain;
		top: 40%;
		cursor: pointer;
	}

	&:before {
		left: 10px;
		transform: rotate(180deg);
	}

	&:after {
		right: 10px;
	}
}

.organization {
	width: 25%;

	img {
		width: 70%;
	}
}

.footer-middle {
	position: relative;
	padding-top: 4rem;

	&:before {
		position: absolute;
		content: '';
		height: 3px;
		top: 0;
		left: 5%;
		right: 5%;
		background-image: linear-gradient(90deg, $dark-blue 90%, transparent 90%, transparent 100%);
		background-size: 10.2% 100%;
	}

}

.text-logo {
	vertical-align: top;
	width: 25%;
	padding: 0 2%;

	img {
		width: 100%;
	}
}

.nav-bottom {
	width: 50%;
	vertical-align: top;
	columns: 100px 2;
	column-gap: 60px;
	transform: translateZ(0);
	padding-bottom: 2rem;

	> * {
		@extend %ellipsis;
		display: block;
	}
}

.nav-bottom__link {
	font-size: .875rem;
	padding: 5px 10px;
}

.copyright {
	text-align: center;
	padding: 2rem $tile-gutter;
	font-size: .75rem;
	text-transform: uppercase;
	color: rgba($white, .2);
}