// colors
$white: #fff;
$gold: #E4B523;
$dark-blue: #0A0E21;
$blue-gray: #212435;
$dark-gray: #444;
$middle-gray: #5f727f;
$light-gray: #b6c6c9;

// misc
$tile-gutter: 15px;
$animation-time: .2s;

// fonts
@font-face {
	font-family: ProximaNova;
	src: url('../fonts/Proxima Nova Thin.ttf');
}
@font-face {
	font-family: ProximaNovaBold;
	src: url('../fonts/Proxima Nova Semibold.ttf');
}

// adjustments
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;

	@media (max-width: 768px) {
		font-size: 14px;
	}

	// pixel perfect
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: url(../img/pixelperfect_midas.jpg) no-repeat 0 0/contain;
		width: 1920px - 15px; // - scroll area
		height: 7317px;
		opacity: .2;
		pointer-events: none;
		z-index: 999;
		display: none; // temp
	}
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'ProximaNova', 'Helvetica', sans-serif;
	background-color: $dark-blue;
	color: $white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

a {
	color: $white;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	transition: $animation-time;

	&:hover {
		color: $gold;
	}
}

h1, h2, h3, h4 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}

p {
	margin: 0;
}

// helpers

@mixin container($max-width: 75rem, $padding-sides: $tile-gutter) {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
	padding-left: $padding-sides;
	padding-right: $padding-sides;

	//@include breakpoint($bp-tablet) {
	//	padding-left: $padding-sides*2;
	//	padding-right: $padding-sides*2;
	//}
}

.container--inline {
	font-size: 0;

	& > * {
		display: inline-block;
		font-size: 1rem;
	}
}

.btn {
	border: 2px solid $gold;
	border-radius: 2rem;
	color: $gold;
	font-size: 1rem;
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
	padding: .625rem .5rem;
	text-transform: none;
	max-width: 12rem;
	width: 100%;
	text-align: center;

	&:hover {
		border-color: $white;
		color: $white;
	}
}

.btn--top {
	color: $white;
	border-color: $white;
	padding-left: 3.25rem;
	padding-right: 3.25rem;
	margin-left: 8%;

	&:hover {
		border-color: $gold;
		color: $gold;
	}
}

.gold-text {
	color: $gold;
}

.big-text {
	display: block;
	font-size: 140%;
}

.bold-text {
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
}

%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


// navigation

.nav-top {
	@include container(82rem);
	text-align: center;
	height: 0;
}

.nav-top__list {
	width: 43%;

	&:first-child {
		padding-left: 3%;
	}

	li {
		padding: 0 2.5%;
	}
}

.nav-top__link {
	font-size: .875rem;
	padding: 1rem 10%;
	white-space: nowrap;
}

.nav-top__logo {
	display: inline-block;
	padding: 3.8rem $tile-gutter;
	width: 14%;

	img {
		width: 100%;
		max-width: 8rem;
		height: auto;
	}
}


// header

.header {
	text-align: center;
	padding-bottom: 6rem;
	padding-top: 4rem;
	background: url(../img/header_bg.jpg) no-repeat center 0;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.promo {
	@include container(56.25rem);
	padding-bottom: 7.75rem;
	padding-top: 16.75rem;
}

.promo__title {
	font-size: 3.75rem;
	letter-spacing: .05em;
	padding-bottom: 1rem;
}

.promo__subtitle {
	font-size: 1.5rem;
	letter-spacing: .05em;
}

.promo__down-btn {
	position: relative;

	&:after {
		bottom: -5rem;
		content: '';
		font-size: 3rem;
		position: absolute;
		left: -1.625rem;
		width: 3.25rem;
		height: 3.25rem;
		background: url(../img/angle_down_white.png) no-repeat center/contain;
	}
}

.timer {
	@include container(40rem, 0);
	background-color: rgba($white, .05);
	height: 8.75rem;
	position: relative;
}

.timer__text {
	border: .25rem solid $gold;
	border-radius: .25rem;
	font-size: 2.375rem;
	font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
	height: 8.75rem;
	line-height: 1;
	padding: .625rem 0;
	position: absolute;
	text-transform: uppercase;
	width: 10.5rem;
}

.timer__text__big {
	font-size: 1.94em;
	letter-spacing: .02em;
}

.timer__main {
	font-size: 3.8rem;
	line-height: 8.75rem;
	letter-spacing: .05em;
	padding-left: 10.5rem;
	word-spacing: -0.1em;
	white-space: nowrap;
}

.steps {
	@include container(110rem, 0);
	padding-top: 18.5rem;
	position: relative;

	&:before {
		background-color: rgba($white, .2);
		content: '';
		position: absolute;
		left: 50%;
		top: 4rem;
		margin-left: -2px;
		height: 11rem;
		width: 2px;
	}
}

.step {
	padding: 1rem 0 1.5rem;
	position: relative;
	vertical-align: top;
	width: 33%;

	&:before,
	&:after {
		background-color: rgba($white, .2);
		content: '';
		position: absolute;
		top: 3.5rem;
		height: 2px;
		width: 30%;
	}

	&:before {
		left: 5%;
	}

	&:after {
		right: 5%;
	}

	&:first-child:before,
	&:last-child:after {
		width: 0;
	}
}

.step__number {
	background: url(../img/hexagon_white.png) no-repeat center/contain;
	color: $dark-blue;
	font-weight: bold;
	font-size: 2.2rem;
	display: inline-block;
	margin-bottom: 2.25rem;
	width: 5.2rem;
	height: 5.2rem;
	line-height: 5.2rem;
}

.step__title {
	color: $gold;
	display: inline-block;
	font-size: 1.7rem;
	letter-spacing: .05em;
	position: relative;
	text-transform: none;

	&:before {
		content: '';
		left: -3.5rem;
		top: -.5rem;
		position: absolute;
		width: 2.25rem;
		height: 2.25rem;
		background: url(../img/checkmark.png) no-repeat center/contain;
	}
}

.step__text {
	@include container(25rem);
	line-height: 1.5;
	font-size: 1.5rem;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}


// sign up

.sign-up {
	background-color: $white;
	padding: 6rem $tile-gutter 8rem;
	text-align: center;
	position: relative;

	// TODO: angled border
	//&:after {
	//	content: '';
	//	position: absolute;
	//	background-color: $gold;
	//	left: 0;
	//	right: 0;
	//	bottom: -2.5rem;
	//	height: 2rem;
	//	opacity: .5;
	//}
}

.sign-up__title {
	color: $gold;
	font-size: 3.4375rem;
	letter-spacing: .05em;
	padding-bottom: 2.5rem;
}

.form-container {
	@include container(73rem, 0);
}

.input-wrap {
	border-color: $dark-gray;
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 0;
	border-left-width: 1px;
	padding: 1.2rem 0 .5rem 3%;
	height: 4.125rem;
	font-size: 1.33rem;
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
	
	label {
		@extend %ellipsis;
		color: $dark-gray;
		display: inline-block;
		margin-right: -.375rem;
		vertical-align: text-bottom;
	}

	.input-text {
		@extend %ellipsis;
		border: none;
		width: 70%;
		display: inline-block;
		padding-left: 1rem;
		color: $gold;
		outline: none;
	}

	&:nth-child(1) {
		border-radius: 2rem 0 0 2rem;
		border-left-width: 2px;
		width: 24%;
	}

	&:nth-child(2) {
		width: 33%;
	}

	&:nth-child(3) {
		width: 23%;
	}

	&.input-submit {
		color: $white;
		font-family: 'ProximaNovaBold', 'Helvetica', sans-serif;
		background-color: $dark-gray;
		border: 2px solid $dark-gray;
		border-radius: 0 2rem 2rem 0;
		text-transform: uppercase;
		outline: none;
		cursor: pointer;
		padding-right: 2%;
		transition: $animation-time;
		width: 19%;
		text-align: center;
		padding-top: .8rem;

		&:hover {
			background-color: $gold;
			border-color: $gold;
		}
	}
}


// token roadmap

.token {
	text-align: center;
	padding: 7.5rem 0 4rem;
}

.token-container {
	@include container(72rem);
}

.token__title {
	font-size: 5rem;
	letter-spacing: .05em;
}

.token__subtitle {
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 1.5rem 0 5.5rem;
}

.gold-bar {
	width: 36%;
	padding: 0 3rem;

	img {
		width: 100%;
		max-width: 16rem;
	}
}

.dates-left {
	padding-right: 9%;
	text-align: right;
	width: 32%;
	vertical-align: top;
}

.dates-right {
	padding-left: 9%;
	text-align: left;
	width: 32%;
	vertical-align: top;
}

.date {
	padding-bottom: 29%;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		width: 3px;
		height: 90%;
		background-color: $light-gray;
		top: 3.5rem;

		.dates-left & {
			right: -3.6rem;
		}

		.dates-right & {
			left: -3.6rem;
		}
	}

	&:last-child:before {
		height: 0;
	}

	&:after {
		position: absolute;
		content: '';
		width: 3.4rem;
		height: 3.4rem;
		top: .2rem;
		background: transparent url(../img/hexagon_gray.png) no-repeat center/contain;

		.dates-left & {
			right: -5.2rem;
		}

		.dates-right & {
			left: -5.2rem;
		}
	}
}

.date__title {
	color: $gold;
	font-size: 1.5rem;
	letter-spacing: .08em;
	padding: 1rem 0;
}

.date__text {
	font-size: 1rem;
	line-height: 1.6;
}

// chart

.chart {
	background-color: $white;
	padding-bottom: 11.5rem;
	padding-top: 12.5rem;
}

.chart-container {
	@include container(75rem, 0);
}

.donut-chart {
	vertical-align: top;
	width: 50%;
	position: relative;
	padding: 5.5rem 9%;

	img {
		width: 100%;
	}
}

.donut-chart__text {
	text-transform: uppercase;
	position: absolute;
	left: 30%;
	top: 40%;
	color: $dark-blue;
	font-size: 1.75rem;
	line-height: 1.5;
	text-align: center;
	width: 40%;

	.big-text {
		font-size: 180%;
		line-height: 1.2;
	}
}

.numbers-text {
	width: 50%;
	padding: 0 $tile-gutter;
}

.numbers__title  {
	font-size: 2.25rem;
	line-height: 1.3;
	color: $dark-blue;
}

.numbers__desc {
	color: $middle-gray;
	font-size: 1rem;
	line-height: 1.5;
	padding: 3rem 0 1.5rem;
}

.chart-legend {
	color: $middle-gray;
}

.chart-legend__item {
	display: block;
	margin: 1.2rem 0 1.2rem 2.3rem;
	position: relative;
	font-size: 1.4rem;

	&:before {
		content: '';
		width: 1rem;
		height: 1rem;
		position: absolute;
		background-color: $gold;
		left: -2rem;
		top: .5rem;
	}

	&:nth-child(1):before {
		background-color: #C49D40;
	}

	&:nth-child(2):before {
		background-color: #9D6C20;
	}

	&:nth-child(3):before {
		background-color: #DEBE62;
	}

	&:nth-child(4):before {
		background-color: $gold;
	}

	&:nth-child(5):before {
		background-color: #9D7B10;
	}
}


// about

.about {
	background-repeat: no-repeat;
	background-image:
		url(../img/hexagon_bg.png),
		url(../img/triangles_bg_1.png),
		url(../img/triangles_bg_2.png);
	background-position:
		0 3rem,
		38% 10rem,
		72% 7rem;
	background-size:
		45%,
		10%,
		10%;
	padding-bottom: 12.5rem;
	padding-top: 12rem;
	//position: relative;

	//&:after {
	//	content: '';
	//	background: url(../img/border_angled.png) no-repeat center -20%/cover;
	//	position: absolute;
	//	height: 3.125rem;
	//	width: 100%;
	//	bottom: 0;
	//	left: 0;
	//	right: 0;
	//}
}

.about-container {
	@include container(67rem);
	padding-left: 5.5%;
}

.about__title {
	font-size: 2.75rem;
	letter-spacing: .05em;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: -16%;
		top: 1.5rem;
		width: 14.5%;
		height: 2px;
		background-color: $light-gray;
	}
}

.about__text {
	font-size: 1rem;
	line-height: 1.5;
	columns: 20rem 2;
	column-gap: 3rem;
	padding: 2rem 0 6rem;
	transform: translateZ(0);
}

.about__list {
	@include container(62rem)
}

.about__item {
	font-size: 3.125rem;
	padding-top: 21%;
	text-align: center;
	width: 25%;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 70%;

	@each $item in invested, members, backers, countries {
		&--#{$item} {
			background-image: url('../img/#{$item}.png');
		}
	}

	small {
		font-size: 1.5rem;
		line-height: 1.5;
		display: block;
	}
}

.people {
	@include container();
	padding-top: 18%;
}

.people__title {
	font-size: 3.125rem;
	padding-bottom: 3.5rem;
	letter-spacing: .05em;
}

.people-slider {
	margin: 0 -1.5%;
	position: relative;

	&:before,
	&:after {
		position: absolute;
		content: '';
		height: 2.75rem;
		width: 2.75rem;
		background: url(../img/angle_down_white.png) no-repeat center/contain;
		top: -6.5rem;
		cursor: pointer;
	}

	&:before {
		right: 4.5rem;
		transform: rotate(90deg);
	}

	&:after {
		right: 1rem;
		transform: rotate(-90deg);
	}
}

.person {
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	padding: 3.5rem $tile-gutter 2.5rem;
	background-color: $blue-gray;

	img {
		max-width: 15rem;
		width: 100%;
	}
}

.person__name {
	font-size: 1.5rem;
	padding: 3.5rem 0 .8rem
}

.person__position {
	font-size: 1rem;
}

.person__tel {
	font-size: 1.1875rem;
	padding: 2rem 0 .8rem;
}

.person__mail {
	@extend %ellipsis;
	font-size: 1rem;
	padding-left: 1.5rem;
	position: relative;
	display: inline-block;

	&:before {
		content: '';
		position: absolute;
		top: .2rem;
		left: 0;
		width: 1rem;
		height: 1rem;
		background: url(../img/envelope.png) no-repeat center/contain;
	}
}

.person__links{
	padding-top: 2.5rem;

	a {
		background-image: url(../img/social_sprite.png);
		background-repeat: no-repeat;
		width: 2.75rem;
		height: 2.75rem;

		&.facebook {
			background-position-x: 0;
		}

		&.twitter {
			background-position-x: -50px;
		}

		&.linkedin {
			background-position-x: -100px;
		}

		&.instagram {
			background-position-x: -150px;
		}
	}
}

// footer

.footer {
	background-color: $blue-gray;
	padding-bottom: 4rem;
	padding-top: 9rem;
}

.organizations-wrap {
	@include container(100rem, 3rem);
	position: relative;

	&:before,
	&:after {
		position: absolute;
		content: '';
		height: 3rem;
		width: 3rem;
		background: url(../img/angle_right_gold.png) no-repeat center/contain;
		top: 20%;
		cursor: pointer;
	}

	&:before {
		left: .2rem;
		transform: rotate(180deg);
	}

	&:after {
		right: .2rem;
	}
}

.organizations-slider {
	padding-bottom: 6.5rem;
	position: relative;
	text-align: center;

	&:after {
		position: absolute;
		content: '';
		height: 3px;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(90deg, $dark-blue 90%, transparent 90%, transparent 100%);
		background-size: 10.2% 100%;
	}
}

.organization {
	width: 25%;

	img {
		max-width: 12rem;
		width: 100%;
	}
}

.footer-middle {
	@include container(82rem);
	padding-top: 12rem;
}

.footer__logo {
	vertical-align: top;
	width: 36%;
	padding: 3rem 6%;

	img {
		width: 100%;
		max-width: 12.5rem;
	}
}

.nav-bottom {
	width: 40%;
	vertical-align: top;
	columns: 6.25rem 2;
	column-gap: 3.75rem;
	transform: translateZ(0);
	margin-right: 8%;
	padding-bottom: 4rem;

	> * {
		@extend %ellipsis;
		display: block;
	}
}

.nav-bottom__link {
	font-size: .875rem;
	padding: .5rem;
}

.copyright {
	text-align: center;
	padding: 2rem $tile-gutter;
	font-size: .75rem;
	letter-spacing: .25em;
	text-transform: uppercase;
	color: rgba($white, .2);
}